:root {
	--Montserrat-Light: "Montserrat-Light", sans-serif;
	--Montserrat-Regular: "Montserrat-Regular", sans-serif;
	--Montserrat-Medium: "Montserrat-Medium", sans-serif;
	--Montserrat-SemiBold: "Montserrat-SemiBold", sans-serif;
	--Montserrat-Bold: "Montserrat-Bold", sans-serif;
	--Montserrat-ExtraBold: "Montserrat-ExtraBold", sans-serif;
	--color-text-primary: #1d1d1f;
	--color-text-secondary: #f5f5f7;
	--color-text-tertiary: #0d67ff;
	--color-bg-grad-first: #0d67ff;
	--color-bg-grad-second: #9bc4ff;
	--color-bg-block: #f5f5f7;
	--color-bg-button: #0d67ff;
	--color-border-button: #0d67ff;
	font-size: calc(1px + 0.5vw);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	background-image: linear-gradient(
		180deg,
		var(--color-bg-grad-first),
		var(--color-bg-grad-second)
	);
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 2rem;
	font-family: var(--Montserrat-Regular);
	color: var(--color-text-primary);
}

.container {
	width: 100%;
	max-width: 150rem;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.header {
	padding-top: 2.8rem;
	padding-bottom: 4rem;
}

.logo {
	width: 25rem;
}

.main-content {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	width: 100%;
	gap: 20px;
	flex-grow: 1;
}

.content_cat {
	max-width: 90rem;
	z-index: 2;
	margin-right: -8rem;
}

.cat_img {
	width: 100%;
	display: block;
}

.content_column {
	display: flex;
	flex-direction: column;
	max-width: 93rem;
	z-index: 1;
	gap: 85px;
	margin-bottom: 5rem;
}

.content_main {
	width: 100%;
	border-radius: 6rem;
	background-color: var(--color-bg-block);
	padding: 3.3rem 6.3rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.content_main_title {
	font-family: var(--Montserrat-SemiBold);
	font-size: 4.2rem;
	margin-bottom: 1.4rem;
}

.content_main_subtitle {
	font-family: var(--Montserrat-Light);
	font-size: 2.6rem;
	margin-bottom: 4.7rem;
}

.content_main_button_wrapper {
	position: relative;
	width: 100%;
}

.content_main_button_wrapper:not(:last-of-type) {
	margin-bottom: 2.7rem;
}

.content_main_button_telegram {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 8.4rem;
	border-radius: 6rem;
	background-color: var(--color-bg-button);
	color: var(--color-text-secondary);
	text-decoration: none;
}

.button_telegram_title {
	font-family: var(--Montserrat-SemiBold);
	font-size: 3rem;
	margin-bottom: 0.5rem;
}

.button_telegram_subtitle {
	font-family: var(--Montserrat-Light);
	font-size: 1.7rem;
}

.button_telegram_ico {
	position: absolute;
	right: -1.5rem;
	top: -4rem;
	width: 11rem;
}

.content_main_button_leadform {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 8.4rem;
	border-radius: 6rem;
	border: solid 0.3rem var(--color-border-button);
	color: var(--color-text-tertiary);
	text-decoration: none;
	background-color: #fff;
}

.button_leadform_title {
	font-family: var(--Montserrat-ExtraBold);
	font-size: 2.3rem;
	margin-bottom: 0.2rem;
}

.button_leadform_subtitle {
	font-family: var(--Montserrat-Regular);
	font-size: 2rem;
}

.button_leadform_ico {
	position: absolute;
	left: -0.4rem;
	top: -2.5rem;
	width: 9rem;
}

.content_notice {
	display: flex;
	align-items: center;
	gap: 1.5rem;
	width: 100%;
	padding: 2.4rem;
	background-color: var(--color-bg-block);
	border-radius: 5rem;
	border: 2px solid transparent;
	background: linear-gradient(#eee, #eee 0) padding-box, linear-gradient(45deg, #0D67FF, #002F7E) border-box;
	z-index: 10;
}

.content_notice_ico {
	width: 9rem;
	height: auto;
	flex-shrink: 0;
}

.content_notice_title {
	font-family: var(--Montserrat-Bold);
	font-size: 2.7rem;
	margin-bottom: 0.3rem;
}

.content_notice_subtitle {
	font-family: var(--Montserrat-Light);
	font-size: 2rem;
}

@media (max-width: 1024px) {
	:root {
		font-size: calc(1px + 2.3vw);
	}

	.container {
		align-items: center;
	}

	.logo {
		width: 30%;
	}

	.main-content {
		width: 90%;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 0rem;
		flex-grow: 0;
	}

	.content_column {
		display: contents;
	}

	.content_notice {
		position: relative;
		order: 1;
		width: 100%;
		margin-bottom: 1rem;
		text-align: center;
		padding: 1rem 2rem;
	}

	.content_notice_ico {
		position: absolute;
		top: 0.5rem;
		left: 1rem;
		width: 3rem;
	}

	.content_notice_title {
		font-size: 2rem;
	}

	.content_notice_subtitle {
		font-size: 1rem;
	}

	.content_cat {
		order: 2;
		position: relative;
		margin-right: 0;
		margin-bottom: -5rem;
		z-index: -1;
		max-width: 70%;
	}

	.content_main {
		order: 3;
		width: 100%;
	}

	body {
		padding: 0 1rem;
	}

	.header {
		align-self: auto;
		width: 90%;
		padding-top: 2rem;
		padding-bottom: 1rem;
	}

	.content_main {
		padding: 3rem 2rem;
		border-radius: 3rem;
	}

	.content_main_title {
		font-size: 1.8rem;
		margin-bottom: 0.7rem;
	}

	.content_main_subtitle {
		font-size: 1.1rem;
		margin-bottom: 3rem;
	}

	.button_telegram_title {
		font-size: 1.2rem;
		margin-bottom: 0.3rem;
	}

	.button_telegram_subtitle {
		font-size: 0.6rem;
	}

	.content_main_button_wrapper {
		width: 100%;
	}

	.content_main_button_wrapper:not(:last-of-type) {
		margin-bottom: 1rem;
	}

	.content_main_button_telegram {
		height: 4rem;
	}

	.content_main_button_leadform {
		height: 4rem;
	}

	.button_leadform_title {
		font-size: 0.9rem;
		margin-bottom: 0.3rem;
	}

	.button_leadform_subtitle {
		font-size: 0.6rem;
	}

	.button_telegram_ico,
	.button_leadform_ico {
		width: 9rem;
	}

	.button_telegram_ico {
		top: -2rem;
		right: -1rem;
		width: 5rem;
	}

	.button_leadform_ico {
		top: -1rem;
		left: 0.5rem;
		width: 3rem;
	}
}

::-webkit-scrollbar {
	width: 2px;
}

::-webkit-scrollbar-track {
	background: linear-gradient(
		180deg,
		var(--color-bg-grad-first),
		var(--color-bg-grad-second)
	);
}

::-webkit-scrollbar-thumb {
	background: linear-gradient(
		180deg,
		var(--color-bg-grad-first),
		var(--color-bg-grad-second)
	);

}
